test/**
test-workspace/**
src/**
tsconfig.json
out/test/**
extension.webpack.config.js
extension-browser.webpack.config.js
cgmanifest.json
yarn.lock
preview-src/**
webpack.config.js


.vscode/**
.vscode-test/**
**/*.map
.gitignore
vsc-extension-quickstart.md
*.vsix
package-json.lock
