* {
    color: inherit;
    background: inherit;
    font-family: inherit;
    font-size: inherit;
}

html,
body {
    background: #fff !important;
}

img {
    width: auto;
    height: auto;    
    /*padding-bottom: 60%;只显示上面40%*/
    overflow: hidden;
    max-width: 100%;
    max-height: inherit;
}